{% extends 'main.html' %}

{% block main %}
    <main class="container">
        <h1 class="h3 my-4">Корзина</h1>

        {% if not customer %}
            <div class="alert alert-warning" role="alert">Чтобы сделать заказ – <a
                    href="{{ url_for('customers.auth') }}">войдите</a> или <a
                    href="{{ url_for('customers.register') }}">зарегистрируйтесь</a></div>
        {% endif %}
        {% if last_removed %}
            <div class="alert alert-warning" role="alert"><a
                    href="{{ url_for('showcase.add_to_cart', meal_id=last_removed.id) }}">Отменить</a> удаление из
                корзины: {{ last_removed.title }}</div>
        {% endif %}

        <div class="row mt-5">
            <div class="col-4">
                <form action="{{ url_for('showcase.get_cart') }}" method="POST">
                    <fieldset {% if not customer %}disabled{% endif %}>
                        <h4 class="">Ваши данные</h4>
                        {{ form.csrf_token }}
                        <div class="mt-4 order-md-1 form-label-group">
                            {{ form.name.label }}
                            {{ form.name(class='font-weight-bold form-control', autofocus=True) }}
                        </div>
                        <div class="mt-4 order-md-2 form-label-group">
                            {{ form.address.label }}
                            {{ form.address(class='font-weight-bold form-control') }}
                        </div>
                        <div class="mt-4 order-md-3 form-label-group">
                            {{ form.mail.label }}
                            {{ form.mail(class='font-weight-bold form-control', readonly=true) }}
                        </div>
                        <div class="mt-4 order-md-4 form-label-group">
                            {{ form.phone.label }}
                            {% if form.phone.errors|length > 0 %}
                                {{ form.phone(class="font-weight-bold form-control is-invalid") }}
                                {% for err in form.phone.errors %}
                                    <div class="invalid-feedback">{{ err }}</div>
                                {% endfor %}
                            {% else %}
                                {{ form.phone(class='font-weight-bold form-control') }}
                            {% endif %}
                        </div>
                        {% if customer and cart_meals|length > 0 %}
                            <button type="submit" class=" mt-5 mb-5 btn btn-primary">Оформить заказ</button>
                        {% endif %}
                    </fieldset>
                </form>
            </div>
            <div class="col-1"></div>
            <div class="col-7">
                <h4 class="mb-3 col-7 mb-5">{{ cart_meals|length|count_formatter }} в корзине</h4>
                <table class="table">
                    <tbody>
                    {% for meal in cart_meals %}
                        <tr>
                            <th scope="row">{{ meal.title }}</th>
                            <td></td>
                            <td>1</td>
                            <td>{{ meal.price }}</td>
                            <td><a class="text-danger"
                                   href="{{ url_for('showcase.remove_from_cart', meal_id=meal.id) }}">Удалить</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <hr>
                <p class="display-4 my-2 ">{{ cart_meals | sum(attribute='price') }} руб</p>
            </div>
        </div>
    </main>
{% endblock %}